<?xml version="1.0" encoding="UTF-8"?>

<!--Copyright 2010 John Schutz <john@lisedex.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5"> 

	<display-name>VolInfoMan</display-name>

	<!-- Configure Guice servlet, other servlets configured in 
		 VolinfomanServletModule -->
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/volinfoman/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.lisedex.volinfoman.server.guice.VolinfomanGuiceServletContextListener</listener-class>
	</listener>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <servlet>
        <servlet-name>BuildDB</servlet-name>
        <servlet-class>com.lisedex.volinfoman.server.admin.BuildDB</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>BuildDB</servlet-name>
		<url-pattern>/admin/builddb</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CacheStats</servlet-name>
		<servlet-class>com.lisedex.volinfoman.server.admin.CacheStats</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CacheStats</servlet-name>
		<url-pattern>/admin/cachestats</url-pattern>
	</servlet-mapping>
	
	
	<!-- Cron jobs -->
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	
	<servlet>
		<servlet-name>expireConfirmationCodes</servlet-name>
		<servlet-class>com.lisedex.volinfoman.server.cron.ExpireConfirmationCodes</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>expireConfirmationCodes</servlet-name>
		<url-pattern>/cron/expireConfirmationCodes</url-pattern>
	</servlet-mapping>
	<!-- Configure gwt-log remote logging servlet -->
	<servlet>
		<servlet-name>remoteLoggerServiceImpl</servlet-name>
		<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>remoteLoggerServiceImpl</servlet-name>
		<url-pattern>/volinfoman/gwt-log</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
